*{
  margin: 0;
  padding: 0;
  font-family: cursive;
}

.navbar{
    background-color:white;
    position: absolute;
    width: 100%;
    top: 0px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar li a{
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}

  .navbar li a:hover{
    color: white;
    background-color: green;
  }
  .navbar li{
    color: green;
    float:left;
    list-style: none; 
    margin: 13px 20px;
  }
.search{
    float: right;
    color: white;
    padding: 12px 75px;
}
.navbar input{
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 129px;
}
li a:hover{
  background-color: brown;
}
.card {
    box-sizing: border-box;
    width: 400px;
    height: 454px;
    margin-top: 5%;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
  }
  
  .card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
  .c1{
    display: flex;
    margin-top: 8%;
  }
  .c1 .card{
    margin-left: 23%;
  }
  .card .img{
    max-width: 1000px;
    margin-bottom:29% ;
    display: inline;
    object-fit: cover;
  }
  .c2{
    display: flex;
    margin-top: 8%;
  }
  .pos{
    position: absolute;
    top: 100px;
    left: 80px;
  }
  .c2 .card{
    margin-left: 23%;
  }
  .head{
    margin-top: 5%;
    position: absolute;
    margin-left: 41.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
  }
  h1{
    text-align: center;
    font-family: monospace;
  }
  .c3,.c4,.c5,.c6{
    display: flex;
    margin-top: 8%;
  }
  .c3 .card,.c4 .card,.c5 .card,.c6 .card{
    margin-left: 23%;
  }
    .btn1 {
    align-items: center;
    background-color: green;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .btn1:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .btn1:hover:after {
    transform: translate(0, 0);
  }
  
  .btn1:active {
    background-color: green;
    outline: 0;
  }
  
  .btn1:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .btn1 {
      padding: 0 40px;
    }
  }
  .footer-distributed {
    margin-top: 250%;
    background-color: #000000;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
 
  body{
    font-family: cursive;
  }